@import "tailwindcss";

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/HCRBatang.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

.invoice-font {
  font-family: 'CustomFont', sans-serif;
}

@media print {
  @page {
    size: A4;
    margin: 0;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}